# Unity/C#
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uilds/
/*.csproj
/*.sln

# Generated Docs
/[Dd]ocs/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Mac
*.DS_Store
